<div class="">
     <div class="selected-question pb-4 pt-3">
          <div class="d-sm-flex justify-content-between">
               <div class="d-sm-flex">
                    <img src="img_avatar.png" class="avatar-image ml-4">
                    <div class="ml-2 text-black font-weight-500 font-size-14">{{selectedQuestion.userFullName}}</div>
                    <div class ="ml-2 app-color">{{selectedQuestion.postingTime}}</div>
               </div>
               <div class="mr-3">
                    Report this
               </div>
          </div>
          <div class="pt-2 ml-4 font-size-16 font-weight-500 text-black line-height-1-6 mr-3">
               {{selectedQuestion.title}}
          </div>
          <div class="ml-4 app-color font-arial font-size-12 line-height-1-6 mr-3">
               {{selectedQuestion.description}}
          </div>
     </div>
     <div class="text-black font-weight-500 pl-4 noOfAnswers">
          Answers ({{selectedQuestion.answersCount}})
     </div>
     <div *ngFor="let answer of answers">
          <div class="pt-3">
               <div class="d-sm-flex justify-content-between">
                    <div class="d-sm-flex">
                         <img src="img_avatar.png" class="avatar-image ml-4">
                         <div class="ml-2 text-black font-weight-500 font-size-14">{{answer.userFullName}}</div>
                         <div class ="ml-2 app-color">{{answer.postingTime}}</div>
                    </div>
                    <div class="mr-4">
                         <i *ngIf="answer.noOfLikes!=0" class="fa fa-thumbs-up fa-x mr-2" aria-hidden="true" style="color:#00cc6a"></i><span class="mr-3">{{answer.noOfLikes}}</span>
                         <i *ngIf="answer.noOfLikes!=0" class="fa fa-thumbs-down fa-x mr-2" aria-hidden="true" style="color:red"></i><span>{{answer.noOfDislikes}}</span>
                    </div>
               </div>
               <div class="pt-2">
                    <div class="pl-5 text-dark line-height-1-6 font-size-12 font-weight-500 font-arial mr-3">
                         {{answer.description}}
                    </div>
               </div>
               <div class="pt-2 pl-5 font-size-14 pb-3">
                    <input type="checkbox"> Mark as Best solution
               </div>
               <!-- <div class="NgxEditor__Wrapper">
                    
                    <ngx-editor
                      [editor]="editor"
                      [ngModel]="html"
                      [editable]="true"
                      placeholder="Type"
                    ></ngx-editor>
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
               </div> -->
          </div>
     </div>
     
</div>
