<div class="container-right">
     <div class="selected-question pb-4 pt-3">
          <div class="d-flex justify-content-between">
               <div class="d-flex">
                    <img src="{{selectedQuestion.imageUrl}}" class="avatar-image ml-3 rounded-circle" width="30px" height="30px">
                    <div class="ml-2 text-black font-weight-500 font-size-14">{{selectedQuestion.userFullName}}</div>
                    <div class ="ml-2 app-color font-size-12">{{selectedQuestion.questionTime}}</div>
               </div>
               <div class="mr-3">
                    <fa-icon [icon]="icons.exclamation" style="color: red;"></fa-icon>
                    Report this
               </div>
          </div>
          <div class="pt-2 ml-4 font-size-16 font-weight-500 text-black line-height-1-6 mr-3">
               {{selectedQuestion.title}}
          </div>
          <div class="ml-4 app-color font-arial font-size-12 line-height-1-6 mr-3">
               {{selectedQuestion.description}}
          </div>
     </div>
     <div class="text-black font-weight-500 pl-4 noOfAnswers">
          Answers ({{selectedQuestion.answersCount}})
     </div>
     <div *ngFor="let answer of answers">
          <div class="pt-3">
               <div class="d-flex justify-content-between">
                    <div class="d-flex">
                         <img src="{{answer.imageUrl}}" class="avatar-image ml-4 rounded-circle" width="30px" height="30px">
                         <div class="ml-2 text-black font-weight-500 font-size-14">{{answer.userFullName}}</div>
                         <div class ="ml-2 app-color font-size-12">{{answer.answerTime}}</div>
                    </div>
                    <div class="mr-4">
                         <i *ngIf="answer.noOfLikes!=0" class="fa fa-thumbs-up fa-x mr-2 cursor-ptr mr-3" aria-hidden="true" style="color:#00cc6a" (click)="like(answer)"><span class="">{{answer.noOfLikes}}</span></i>
                         <i *ngIf="answer.noOfLikes==0" class="fa fa-thumbs-up fa-x mr-2 cursor-ptr mr-3" aria-hidden="true"  (click)="like(answer)"><span class="">{{answer.noOfLikes}}</span></i>
                         <i *ngIf="answer.noOfDislikes!=0" class="fa fa-thumbs-down fa-x mr-2 cursor-ptr" aria-hidden="true" style="color:red" (click)="dislike(answer)"><span>{{answer.noOfDislikes}}</span></i>
                         <i *ngIf="answer.noOfDislikes==0" class="fa fa-thumbs-down fa-x mr-2 cursor-ptr" aria-hidden="true" (click)="dislike(answer)"><span>{{answer.noOfDislikes}}</span></i>
                    </div>
               </div>
               <div class="pt-2">
                    <div class="pl-5 text-dark line-height-1-6 font-size-12 font-weight-500 font-arial mr-3">
                         {{answer.description}}
                    </div>
               </div>
               <div class="pt-2 pl-5 font-size-14 pb-3">
                    <div class="d-flex" *ngIf="selectedQuestion.userId==loggedUserId">
                         <label class="checkbox-container mb-4  mt-1" >
                              <input type="checkbox" class="checkbox-group" [checked]="answer.bestAnswer" (click)="markAsBestAnswer(answer, $event)">
                              <span class="checkmark"></span></label>
                              <div class="ml-4">
                                   Mark as Best solution
                              </div>
                    </div>                        
               </div>
          </div>
     </div>
     <div class="form-group col-12 mt-4 editor">   
          <form [formGroup]="answerForm" class="answer-form">
               <div class="NgxEditor__Wrapper mx-3 mb-3">
                    <div class="d-flex justify-content-end">
                         <fa-icon [icon]="icons.expand" size="2x" class="pl-2 cursor-ptr" style="color:  rgb(131,131,131);" (click)="expandEditor()"></fa-icon>
                    </div> 
                    <ngx-editor [editor]="editor" editable="true" [placeholder]="html" formControlName="editorContent" [ngClass]="{'expand-editor':expand}">                                
                    </ngx-editor>        
                    <div class="d-flex">
                         <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                         <fa-icon [icon]="icons.send" class="ml-auto mr-2 cursor-ptr" size="2x" style="color:  rgb(131,131,131);" (click)="submitAnswer()"></fa-icon>
                    </div>                                   
               </div>
          </form> 
     </div>  
</div>

