<div class="filter-options">
     <div class="d-flex pt-2 pl-4 pb-0 justify-content-between">
          <div class="form-group mr-3">
               <label for="keywords" class="filter-options-heading">Keywords</label>
               <input type="text" name="search" [(ngModel)]="searchText.title" class="form-control keyword-search" placeholder="&#xF002; Search" (change)="searchTextFilter()">
          </div>
          <div class="form-group category-dropdown mr-3">
               <label for="keywords" class="home-options-heading">Category</label>
               <select class="form-control" id=category [(ngModel)]="categoryId" (change)="filterQuestions()">
                    <option value=0 selected>ALL</option>
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
               </select>
          </div>
          <div class="form-group category-dropdown mr-3">
               <label for="keywords" class="home-options-heading">Show</label>
               <select class="form-control" id=show [(ngModel)]="showFilter" (change)="filterQuestions()">
                    <option value="all">ALL</option>
                    <option value="myQuestions">My Questions</option>
                    <option value="myParticipation">My Participation</option>
                    <option value="hot">Hot</option>
                    <option value="solved">Solved</option>
                    <option value="unsolved">UnSolved</option>
               </select>
          </div>
          <div class="form-group category-dropdown mr-3">
               <label for="keywords" class="home-options-heading">Sort By</label>
               <select class="form-control" id=sort [(ngModel)]="sortByFilter" (change)="filterQuestions()">
                    <option value="all">ALL</option>
                    <option value="recent">Recent</option>
                    <option value="last10Days">Last 10 Days</option>
                    <option value="last30Days">Last 30 Days</option>
               </select>
          </div>
          <div class="reset-icon ml-3 mr-3 pt-4 mt-2 cursor-ptr" (click)="resetFilters()">
               <fa-icon [icon]="icons.reload" class="pr-1"></fa-icon>
               <span>Reset</span>
          </div>
          <div class="mr-3">
               <button class="add btn btn-primary" (click)="openModal(modal) ">+Question</button>
          </div>
     </div>
</div>

<ng-template #modal>
     <div>
          <div class="d-flex modal-header add-heading text-white">
               <div>
                    Add Question
               </div>
               <button type="button" class="close ml-auto pr-2" aria-label="Close">
                    <span aria-hidden="true" class="text-white" (click)="closeModal()">&times;</span>
               </button>
          </div>
       <form [formGroup]="addQuestionForm">
         <div class="modal-body row">
               <div class="form-group col-sm-9">
                    <label>Question</label>
                    <input type="text" class="form-control" placeholder="Enter Your Question" style="font-size: 13px;" formControlName="question">
               </div>
               <div class="form-group col-sm-9">
                    <label>Description</label>
                    <div class="NgxEditor__Wrapper mb-3">
                         <ngx-editor [editor]="editor" editable="true" [placeholder]="html" formControlName="description">                                
                              </ngx-editor>        
                         <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>                                 
                    </div>
               </div>
               <div class="form-group col-sm-9">
                    <label for="keywords" class="home-options-heading">Category</label>
                    <select class="form-control col-sm-9" id=category  formControlName="Id">
                         <option [ngValue]=0 selected>ALL</option>
                         <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                    </select>
               </div>
               <div class="ml-auto pt-5 mt-3 mr-3">
                    <button type="button" class="btn px-3 grey-color text-white" (click)="closeModal()">Cancel</button>
                    <button class="btn px-3 ml-2 purple-color text-white" (click)="addQuestion()">Post</button>
               </div>               
         </div>
       </form>
     </div>
</ng-template>
